
.bottom-navitem {
    /*background-color: #666666;*/
    width: 25%;
}

.bottom-navitem-icon {
    font-size: 24dp;
}

.bottom-navitem-text {
    font-size: 12dp;
}

.bottom-navitem-selected {
    background-color: red;
    width: 25%;
}
