
.bottom-navitem {
    margin-top: 8dp;
    margin-bottom: 6dp;
    font-size: 12sp;
}

.bottom-navitem-selected {
    margin-top: 6dp;
    margin-bottom: 6dp;
    font-size: 14sp;
    color: #00796B;
}

.bottom-navitem-icon {
    font-size: 24dp;
}

.bottom-navitem-text {
    font-family: "Roboto-Regular";
}

.items1 {
    width: 100%;
}

.items2 {
    width: 50%;
}

.items3 {
    width: 33%;
}

.items4 { 
    width: 25%;
}

/* max 5 icons supported */
.item5 {
    width: 20%;
}

