<ActionBar title="Sailert" class="action-bar">
    <ActionItem android.systemIcon="ic_menu_sort_by_size" text="open menu" (tap)="openMenu()"></ActionItem>
</ActionBar>
<RadSideDrawer #drawer>
    <StackLayout tkDrawerContent [transition]="sideDrawerTransition">
        <Button text='home' [nsRouterLink]="['/main']" nsRouterLinkActive="active" class="btn"></Button>
        <Button text='settings' [nsRouterLink]="['/main/settings']" nsRouterLinkActive="active" class="btn"></Button>
    </StackLayout>
    <StackLayout tkMainContent>
        <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>