<ActionBar class="action-bar">
    <ActionItem text="open menu" (tap)="openMenu()" android.position="left">
        <label class="fa fa-actionbar " text="{{'fa-navicon' | fonticon}}  "></label>
    </ActionItem>
</ActionBar>
<RadSideDrawer #drawerComponent [transition]="sideDrawerTransition">
    <StackLayout tkDrawerContent class="page">
        <Button text="{{'fa-home' | fonticon}}    Home" [nsRouterLink]="['/main']" nsRouterLinkActive="active" class="btn fa"></Button>
        <Button text="{{'fa-cog' | fonticon}}    settings" [nsRouterLink]="['/main/settings']" nsRouterLinkActive="active" class="btn fa"></Button>
    </StackLayout>
    <StackLayout tkMainContent>
        <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>