<ActionBar [title]="optionPageSettings.title" class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<StackLayout>
    <ListView [items]="items">
        <ng-template let-item="item" let-i="index">
            <StackLayout orientation="horizontal" (tap)="setValue(item.key)">
                <Label [text]="item.value" class="item"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>