
.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
    font-weight: bold;
    color: black;
    margin-right: 10px;  
    font-size: 48pt;
}

