<StackLayout class="h100">
    <StackLayout class="setting">
        <Label text="Settings" class="title label"></Label>
    </StackLayout>
    <StackLayout class="hr-dark"></StackLayout>
    <StackLayout class="setting" (tap)="openOptionsPage('speedunits')">
        <label text="Speed units" class="settingtext label"></label>
        <label [text]="currentSpeedUnits" class="currentsetting label"></label>
    </StackLayout>
    <StackLayout class="hr-dark"></StackLayout>
    <StackLayout class="setting" (tap)="openOptionsPage('coordinatestyle')">
        <label text="Coordinate style" class="settingtext label"></label>
        <label [text]="currentCoordinateStyle" class="currentsetting label"></label>
    </StackLayout>
    <StackLayout class="hr-dark"></StackLayout>
</StackLayout>