
.title {
    font-size: 24pt;
    font-weight: bold;
}

.setting {
    height: 16%;
    vertical-align: middle;
    margin-left: 10dp;
}

.settingtext {
    font-size: 18pt;
    color: black;
}

.currentsetting {
    font-size: 14pt;
}

.fa {
    font-family: FontAwesome, fontawesome-webfont;
}

.settingicon {
    font-size: 24pt;
    color: #00796B;
}

.settingiconcontainer {
    vertical-align: middle;
    margin-left: 10dp;
    margin-right: 20dp;
}

.textcontainer {
    vertical-align: middle;
}