<StackLayout class="main h100">
    <StackLayout>
        <StackLayout orientation="horizontal">
            <speed units='kmh'></speed>
            <course></course>
        </StackLayout>
        <StackLayout class="hr-dark" orientation="horizontal"></StackLayout>
        <position></position>
        <StackLayout class="hr-dark" orientation="horizontal"></StackLayout>
    </StackLayout>
    <Button [text]="btnText" (tap)="start()"></Button>
    <Button text="reset" (tap)="resetTracklog()"></Button>
    <tracklog-viewer [tracklog]="tracklog"></tracklog-viewer>
</StackLayout>